body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
}
.menuarea{
    position: absolute;
    top: 0;
    z-index: 5;
    /* background-color: rgb(202, 225, 202); */
    backdrop-filter: blur(3px);
    /* background-color: red; */
    width: 100%;
    /* text-align: center; */
}
.menuarea ul li {
    float: left;
    padding: 20px 20px;
}
.menuarea img{
    padding: 20px ;
}
.menuarea i{
    text-align: left;
}
.btn-primaryy{
    background-color: green !important;
    color: #fff !important;
}
.slidearea{
    padding: 350px 0;
    background-image: url(image/slide.png);
    position: relative;
}
.box a{
    color: #fff;
    text-decoration: none;
    margin-left: 70px;
}
.box{
    position: absolute;
    background-color: transparent;
    text-align: left;
    word-spacing: 5px;
    color: white;
    top: 180px;
}
.features{
    background-color: aliceblue;
    padding: 50px 0;
}
.box3{
    width: 100%;
    /* padding: 30px 50px; */
    background-color: aliceblue;
    text-align: center;
}
.box4{
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.detail{
    position: absolute;
    bottom:-150px;
    padding:50px 30px;
    width:100%;
    text-align:center;
    background:linear-gradient(to bottom,transparent,rgb(59, 58, 58));
    color:white;
    text-align: left;
    transition: all 0.7s;
    border-radius: 0 0 5px 5px;  
}
.box4:hover .detail{
    bottom: 0px;
}
.search{
    background-image: url(image/search.png);
    padding: 85px 0;
    background-size: cover;
    background-position: center;
}
.new{
    background-color: aliceblue;
    padding: 100px 0;
}
.box5{
    margin: 20px 0;
} 
.box7{
    width: 100%;
    margin-bottom: 10px;
}
.rectangle{
    width: 100%;
    position: relative;
    padding: 100px 500px;
}
.detail1{
    position: absolute;
    bottom:450px;
    width:100%;
    color:#fff;
    text-align: center;
}
.footer{
    background-image: url(image/footer.png);
    color: #fff;
    padding: 100px 0;
}

.list li{
    text-decoration:none;
    padding: 20px;
}
.box6 a{
    padding: 20px;
    color: #000;
}
@media print{
    #x1,#x2{
        display: none;
    }
}
@media speech{
    .menuarea , .slidearea{
        display: none;
    }
}